Repository TheDeiw/OS-FileMonitor, pull requests merged in 2024-12, with the labels that each got.

#12 Add simple socket realisation
  Client/ClientForm.cpp
  Client/ClientForm.h
  Server/ServerSource.cpp
Labels: server, feature

#15 Add client design
  Client/Client.vcxproj
  Client/Client.vcxproj.filters
  Client/ClientForm.h
  Client/ClientForm.resx
Labels: client, design

#16 Add socket messaging with console file searching
  Client/ClientForm.cpp
  Server/Server.vcxproj
  Server/ServerSource.cpp
Labels: client, server

#20 Medvid/feature/client/add data to the table
  Client/Client.vcxproj
  Client/ClientForm.cpp
  Client/ClientForm.h
  Server/ServerSource.cpp
Labels: client, server, feature, design

#24 Bug fix: spaces in directories, spaces in extensions
  Client/ClientForm.cpp
  Server/ServerSource.cpp
Labels: bug, client

#25 Edited design. Commit #2
  Client/ClientForm.cpp
  Client/ClientForm.h
Labels: design

#26 Chepeliuk/hotfix/change size displaying
  Client/ClientForm.h
  Server/ServerSource.cpp
Labels: bug, client

#27 Added checks in server, Error codes in responding messages from server
  Client/ClientForm.cpp
  Server/ServerSource.cpp
Labels: server, feature

#29 Encode error codes
  Client/ClientForm.cpp
Labels: client, feature, design

#32 Added timer for caching table
  Server/ServerSource.cpp
Labels: server, feature

#35 Testing error codes in server
  Server/ServerSource.cpp
Labels: enhancement, server

#34 Add decode error, multiple recieving
  Client/ClientForm.cpp
Labels: enhancement, client

#36 Add main error codes from server
  Server/ServerSource.cpp
Labels: server, feature

#37 Fix error code sending and displaying
  Client/ClientForm.cpp
  Server/ServerSource.cpp
Labels: bug
